In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir('C:\\Users\\arun\\Downloads')

In [3]:
df=pd.read_excel('Titanic.xls')

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
df=df[['Survived', 'Pclass' , 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare','Embarked']]

In [7]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

In [8]:
from warnings import filterwarnings
filterwarnings('ignore')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 55.8+ KB

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()
df.loc[:,['Sex']]=le.fit_transform(df.loc[:,['Sex']])

In [12]:
emb=pd.get_dummies(df['Embarked'],drop_first=True)

In [13]:
df=pd.concat([df,emb],axis=1)

In [14]:
from sklearn.experimental import enable_iterative_imputer

In [15]:
from sklearn.impute import IterativeImputer

In [16]:
imp=IterativeImputer()

In [17]:
df.loc[:,['Age']]=imp.fit_transform(df.loc[:,['Age']])

In [18]:
df=df.dropna()

In [19]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked', 'Q', 'S'],
      dtype='object')

In [20]:
df

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Embarked  Q  S
0           0       3    1  22.000000      1      0   7.2500        S  0  1
1           1       1    0  38.000000      1      0  71.2833        C  0  0
2           1       3    0  26.000000      0      0   7.9250        S  0  1
3           1       1    0  35.000000      1      0  53.1000        S  0  1
4           0       3    1  35.000000      0      0   8.0500        S  0  1
..        ...     ...  ...        ...    ...    ...      ...      ... .. ..
886         0       2    1  27.000000      0      0  13.0000        S  0  1
887         1       1    0  19.000000      0      0  30.0000        S  0  1
888         0       3    0  29.699118      1      2  23.4500        S  0  1
889         1       1    1  26.000000      0      0  30.0000        C  0  0
890         0       3    1  32.000000      0      0   7.7500        Q  1  0

[889 rows x 10 columns]

In [21]:
X=df[[ 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Q', 'S']]

In [22]:
y=df[['Survived']]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [25]:
from sklearn.ensemble import RandomForestClassifier

In [26]:
rf=RandomForestClassifier(n_estimators=50,oob_score=True,max_samples=0.75,random_state=466,max_features=0.75)

In [27]:
rf.fit(X_train,y_train)

RandomForestClassifier(max_features=0.75, max_samples=0.75, n_estimators=50,
                       oob_score=True, random_state=466)

In [28]:
param_grid={'n_estimators':[10,500,50],'random_state':[0],'max_depth':range(2,8),'min_samples_leaf':[3],'max_features' : ['auto', 'sqrt', 'log2'],'min_samples_split':range(2,10)}

In [30]:
 from sklearn.model_selection import GridSearchCV

In [31]:
grid=GridSearchCV(estimator=rf,param_grid=param_grid,n_jobs=6)

In [32]:
model=grid.fit(X_train,y_train)

In [33]:
pred_train=model.predict(X_train)
pred_test=model.predict(X_test)

In [35]:
from sklearn.metrics import *

In [36]:
rftrain=accuracy_score(y_train,pred_train)
rftrain

0.8633440514469454

In [37]:
rftest=accuracy_score(y_test,pred_test)
rftest

0.7940074906367042

# DATASET 2

In [39]:
df1=pd.read_csv('IndianLiverPatientData.csv',header=None)

In [40]:
df1

      0   1       2     3    4    5   6    7    8    9     10   11
0      1  65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90   No
1      2  62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74   No
2      3  62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89   No
3      4  58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00   No
4      5  72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40   No
..   ...  ..     ...   ...  ...  ...  ..  ...  ...  ...   ...  ...
578  579  60    Male   0.5  0.1  500  20   34  5.9  1.6  0.37  Yes
579  580  40    Male   0.6  0.1   98  35   31  6.0  3.2  1.10   No
580  581  52    Male   0.8  0.2  245  48   49  6.4  3.2  1.00   No
581  582  31    Male   1.3  0.5  184  29   32  6.8  3.4  1.00   No
582  583  38    Male   1.0  0.3  216  21   24  7.3  4.4  1.50  Yes

[583 rows x 12 columns]

In [41]:
df1.columns=['id','Age','Gender','Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase'
,'Alamine_Aminotransferase','Aspartate_Aminotransferase','Total_Protiens','Albumin',
'Albumin_Globulin_ratio','Class']

In [42]:
df1

,id,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_Globulin_ratio,Class
0,1,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,No
1,2,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,No
2,3,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,No
3,4,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,No
4,5,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,No
...,...,...,...,...,...,...,...,...,...,...,...,...
578,579,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,Yes
579,580,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,No
580,581,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,No
581,582,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,No
582,583,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,Yes

In [43]:
df1.columns

Index(['id', 'Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_Globulin_ratio', 'Class'],
      dtype='object')

In [44]:
df1=df1[['id', 'Age', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_Globulin_ratio', 'Class']]

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          583 non-null    int64
 1   Age                         583 non-null    int64
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              568 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_Globulin_ratio      579 non-null    float64
 10  Class                       583 non-null    object
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [46]:
df1.loc[:,['Albumin_Globulin_ratio']]=imp.fit_transform(df1.loc[:,['Albumin_Globulin_ratio']])

In [47]:
df1.loc[:,['Total_Protiens']]=imp.fit_transform(df1.loc[:,['Total_Protiens']])

In [48]:
df1.loc[:,['Class']]=le.fit_transform(df1.loc[:,['Class']])

In [49]:
X=df1[['id', 'Age', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_Globulin_ratio']]

In [50]:
y=df1[['Class']]

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [53]:
rf1=RandomForestClassifier(n_estimators=50,oob_score=True,max_samples=0.75,random_state=466,max_features=0.75)

In [54]:
rf1.fit(X_train,y_train)

RandomForestClassifier(max_features=0.75, max_samples=0.75, n_estimators=50,
                       oob_score=True, random_state=466)

In [55]:
param_grid={'n_estimators':[10,500,50],'random_state':[0],'max_depth':range(2,8),'min_samples_leaf':[3],'max_features' : ['auto', 'sqrt', 'log2'],'min_samples_split':range(2,10)}

In [58]:
grid=GridSearchCV(estimator=rf1,param_grid=param_grid,n_jobs=6)

In [59]:
model=grid.fit(X_train,y_train)

In [60]:
pred_train=model.predict(X_train)
pred_test=model.predict(X_test)

In [61]:
rftrain=accuracy_score(y_train,pred_train)
rftrain

0.75

In [62]:
rftest=accuracy_score(y_test,pred_test)
rftest

0.6914285714285714